<div class="container py-5 px-3 px-md-5">
  <div class="row">
    <div class="col-md-8 mx-auto text-center">
      <h2  id="about"   class="mb-4 fw-bold text-success">About Me</h2>
      <p>
        I'm a passionate <strong>Full Stack Developer</strong> with hands-on experience in designing and building responsive, user-focused web applications. My skill set spans both front-end and back-end technologies, including <strong>HTML</strong>, <strong>Bootstrap</strong>, <strong>JavaScript</strong>, <strong>Angular</strong>, and <strong>Java</strong>.
      </p>


    </div>
  </div>
</div>
