<div class="banner-wrapper bg-light py-5 px-3 px-md-5">


  <!-- Hero Section -->
  <div id="home" class="row align-items-center">
    <!-- Left Text -->
    <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
      <div class="quote-icon mb-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" fill="#8CA694" viewBox="0 0 16 16">
          <path d="M6.5 3.5v5h-4v-5h4zm6 0v5h-4v-5h4z"/>
        </svg>
      </div>
      <h1 class="display-6 fw-light">
        Hi,I'm Imane Bouhouchi <br />
        a full stack <br />
        <span class="fst-italic text-success">Developer</span>
      </h1>
      <a class="btn btn-outline-success rounded-pill px-4 mt-4" href="#">Download CV</a>
    </div>


    <!-- Right Image -->
    <div class="col-md-6 position-relative text-center">
      <div class="bg-shape"></div>
      <img src="assets/image/" alt="Profile" class="img-fluid rounded-4 position-relative z-2 hero-img">
    </div>
  </div>
</div>
